{#
/**
 * @file
 * Theme override to display a single page.
 *
 * This is based on the core classy page.html.twig. It has been updated to include a couple
 * of extra regions (pre_content / post_content), some slight tweaks to structure (moving
  * menus into header) and some extra classes added.
 */
#}
<div class="layout-container">

  <header class="site-header" role="banner" id="header">
    {{ page.header }}

    {{ page.primary_menu }}

    {{ page.secondary_menu }}
  </header>

  {{ page.highlighted }}

  {{ page.pre_content }}

  {{ page.breadcrumb }}

  {{ page.help }}

  <main role="main" id="main" class="main-wrapper">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {{ page.post_content }}

  {% if page.footer %}
    <footer role="contentinfo" class="site-footer" id="footer">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
