{{ machine_name }}.extra_small:
  label: mobile
  mediaQuery: ''
  weight: 0
  multipliers:
    - 1x
{{ machine_name }}.small:
  label: mobile
  mediaQuery: 'all and (min-width: 576px) and (max-width: 767px)'
  weight: 1
  multipliers:
    - 1x
{{ machine_name }}.medium:
  label: narrow
  mediaQuery: 'all and (min-width: 768px) and (max-width: 991px)'
  weight: 2
  multipliers:
    - 1x
{{ machine_name }}.large:
  label: wide
  mediaQuery: 'all and (min-width: 992px) and (max-width: 1199px)'
  weight: 3
  multipliers:
    - 1x
{{ machine_name }}.x-large:
  label: laptop
  mediaQuery: 'all and (min-width: 1200px) and (max-width: 1589px)'
  weight: 4
  multipliers:
    - 1x
{{ machine_name }}.xx-large:
  label: desktop
  mediaQuery: 'all and (min-width: 1590px) and (max-width: 1799px)'
  weight: 5
  multipliers:
    - 1x
{{ machine_name }}.xxx-large:
  label: full screen
  mediaQuery: 'all and (min-width: 1800px)'
  weight: 6
  multipliers:
    - 1x
