name: {{ name }}
type: theme
base theme: {{ base_theme }}
description: {{ description }}
package: {{ package }}
core: 8.x
libraries:
  - {{ machine_name }}/global
regions:
  header: 'Header'
  primary_menu: 'Primary menu'
  secondary_menu: 'Secondary menu'
  pre_content: 'Pre content'
  post_content: 'Post content'
  page_top: 'Page top'
  page_bottom: 'Page bottom'
  featured: 'Featured'
  breadcrumb: 'Breadcrumb'
  content: 'Content'
  sidebar_first: 'Sidebar first'
  sidebar_second: 'Sidebar second'
  footer: 'Footer'
